/*@import url(bootstrap.css);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,700italic);*/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans/opensans400normal.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/opensans/v7/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

body, th, td, table, h1, h2, h3, h4, h5, h6, .Head, .SubHead, .SubSubHead, .Normal, .NormalBold, .NormalRed, .NormalTextBox, .NormalDisabled, a:link, a:visited, a:hover, input, .CommandButton, p, label {
    font-family: 'Open Sans',sans-serif;
}
p .Normal, .NormalDisabled, .NormalDeleted {
     font-size: 1.1em;
     font-weight: normal;
     line-height: 18px;
 }

/*
.input-group[class*="col-"] {
    padding-left: 15px !Important;
    padding-right: 15px !Important;
}*/

.left {
    float: left;
}

.right {
    float: right;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}
p {
    font-family: 'Open Sans',sans-serif;
}


/*      TOP MENU STYLE      */
/*  MENU STYLE        */
.brand {
    left: 0;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.brand img{
}
a.brand{
    margin: 0;
}
.bg_image_full {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.bg_image_full img{
    min-width: 100%;
}
#adminmenu{
    z-index: 1000;
}
.navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.navbar-blur60{
    background-color: #071e32;
    opacity: .6;
}
.navbar-blur90 {
    background-color: #8da4b8;
    opacity: 0.9;
    -webkit-transition:background 1s;
    -moz-transition:background 1s;
    -o-transition:background 1s;
    transition:background 1s
}
.navbar-header {
    float: none;
    height: 60px;
}
.navbar-nav {
    /*margin: 0 -15px;*/
    margin: 0;
}
/*   noch prüfen       */
.navbar-toggle.open .icon-bar:nth-child(3):before {
    background-color: #fff !important;
    content: "";
    display: block;
    height: 3px;
    opacity: 1;
    position: relative;
    transform: translateY(0px) rotate(-45deg);
    width: 50px;
}
.navbar-toggle.open .icon-bar:nth-child(3):after {
    background-color: #fff !important;
    content: "";
    display: block;
    height: 3px;
    opacity: 1;
    position: relative;
    transform: translateY(0px) rotate(45deg);
    width: 50px;
}
.navbar-toggle.open .icon-bar{
    opacity: 1;
}
.navbar-toggle .icon-bar {
    background-color: #fff !important;
}
/*
.navbar-toggle .icon-bar {
    background-color: #fff !important;
    border-radius: 1px;
    display: block;
    height: 3px;
    margin-bottom: 11px;
    opacity: 1;
    width: 50px;
}*/
/*   noch prüfen       */
.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
    float: left;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 10px 20px;
    position: relative;
    margin-left: 15px;
    z-index: 1000;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
    border-bottom-style:inherit;
    /*height: 100%;*/
}
.navbar-collapse {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset;
}
ul.nav{
    display: inline-block;
}
.nav > li {
    display: block;
    position: relative;
    float:left;
}
.scrollermenu .navbar-nav > li > a {
    line-height: 160px;
    padding: 0 0 0 0;
    width: 160px;
    background-color: transparent;
    color:#FFFFFF;
    opacity: 1.0;
}
.nav > li:hover {
    background-color: #071e32;
    opacity: 0.3;
}
.nav.navbar-nav p {
    margin-top: -60px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
    color:#FFFFFF;
    position: relative;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color:#FFFFFF;
    opacity: 0.8;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.sprite-menu{
    color: #ffffff;
    text-decoration: none;
    /*width: 160px;
    height: 160px;*/
    background: url("../images/sprite_transparent.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    z-index: 10;
    top: 0;
    left: 0;
}
.sprite-menu60{
    color: #ffffff;
    text-decoration: none;
    background: url("../images/sprite_60.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    z-index: 10;
    top: 0;
    left: 0;
}

.smallnavmenu.navbar-nav > li > a {
    line-height: 160px;
    padding: 0 0 0 0;
    width: 100px;
    height:100%;
    background-color: transparent;
    color:#FFFFFF;
    opacity: 1.0;
}
.smallnavmenu .menu60{
    width: 100px;
    height: 60px;
    margin-left: -30px;
}

.menu60{
    width: 160px;
    height: 60px;
}
.menu80{
    width: 160px;
    height: 80px;
}
.menu160{
    width: 160px;
    height: 160px;
}
.menubutton {
    height: 60px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-top: 4px;
    top: 0;
    width: 160px;
    z-index: 1000;
    position: absolute;
}
.carousel-inner > .item > img{
    width: 100%;
}
/*  ICONS        */
.sprite-menu60.sprite-left{
    position: absolute;
    background-position: 0 0;
}
.sprite-menu60.sprite-right{
    position: absolute;
    background-position: 0 -60px;
}
.sprite-menu60.sprite-top{
    position: absolute;
    background-position: 0 -120px;
}
.sprite-menu60.sprite-down{
    position: absolute;
    background-position: 0 -180px;
}
.sprite-menu60.sprite-back{
    position: absolute;
    background-position: 0 -360px;
}
.sprite-menu60.sprite-adminmenu{
    position: absolute;
    /*background-position: 0 -2640px;*/
    background-position: 0 -300px;
}
.sprite-menu.sprite-document{
    position: absolute;
    background-position: 0 -420px;
}
li.active .sprite-menu.sprite-document, li .sprite-menu.sprite-document:hover{
    position: absolute;
    background-position: -160px -420px;
}
.sprite-menu.sprite-product{
    position: absolute;
    background-position: 0 -580px;
}
li.active .sprite-menu.sprite-product, li.ui-selected .sprite-menu.sprite-product, li .sprite-menu.sprite-product:hover{
    position: absolute;
    background-position: -160px -580px;
}
.sprite-menu.sprite-product-selectable{
    position: absolute;
    background-position: 0 -2660px;
}
li.active .sprite-menu.sprite-product-selectable, li.ui-selected .sprite-menu.sprite-product-selectable{
    position: absolute;
    background-position: -160px -2660px;
}
.sprite-menu.sprite-pc{
    position: absolute;
    background-position: 0 -720px;
}
.sprite-menu.sprite-notebook{
    position: absolute;
    background-position: 0 -880px;
}
.sprite-menu.sprite-smartphone{
    position: absolute;
    background-position: 0 -1040px;
}
.sprite-menu.sprite-tablet{
    position: absolute;
    background-position: 0 -1200px;
}
.sprite-menu.sprite-connectedcevices{
    position: absolute;
    background-position: 0 -1360px;
}
.sprite-menu.sprite-display{
    position: absolute;
    background-position: 0 -1520px;
}
.sprite-menu.sprite-ce{
    position: absolute;
    background-position: 0 -1680px;
}
.sprite-menu.sprite-digitalimaging{
    position: absolute;
    background-position: 0 -1840px;
}
.sprite-menu.sprite-navigation{
    position: absolute;
    background-position: 0 -2000px;
}
.sprite-menu.sprite-digitalperipherals{
    position: absolute;
    background-position: 0 -2160px;
}
.sprite-menu.sprite-satreceiver{
    position: absolute;
    background-position: 0 -2320px;
}
.sprite-menu.sprite-menubutton {
    background-position: 0 -330px;
    position: absolute;
    margin-left: -20px;
}
.nav.navbar-nav li.active .sprite-menu.sprite-pc{
    position: absolute;
    background-position: -160px -720px;
}
.nav.navbar-nav li.active .sprite-menu.sprite-notebook{
    position: absolute;
    background-position: -160px -880px;
}
.nav.navbar-nav li.active .sprite-menu.sprite-smartphone{
    position: absolute;
    background-position: -160px -1040px;
}
.nav.navbar-nav li.active .sprite-menu.sprite-tablet{
    position: absolute;
    background-position: -160px -1200px;
}
.nav.navbar-nav li.active .sprite-connectedcevices{
    position: absolute;
    background-position: -160px -1360px;
}
.nav.navbar-nav li.active .sprite-display{
    position: absolute;
    background-position: -160px -1520px;
}
.nav.navbar-nav li.active .sprite-ce{
    position: absolute;
    background-position: -160px -1680px;
}
.nav.navbar-nav li.active .sprite-digitalimaging{
    position: absolute;
    background-position: -160px -1840px;
}
.nav.navbar-nav li.active .sprite-navigation{
    position: absolute;
    background-position: -160px -2000px;
}
.nav.navbar-nav li.active .sprite-digitalperipherals{
    position: absolute;
    background-position: -160px -2160px;
}
.nav.navbar-nav li.active .sprite-satreceiver{
    position: absolute;
    background-position: -160px -2320px;
}
.navbar-header .active .sprite-menu.sprite-menubutton {
    background-position: -160px -330px;
    position: absolute;
}
/*
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
    width: 40px;
    margin-bottom: 8px;
}*/
.nav > li.active:before {
    background-color: #071e32;
    content: "";
    display: block;
    height: 100%;
    opacity: 0.40;
    position: absolute;
    width: 100%;
    z-index: -1;
}
/*  second menu top right   */
ul.menu2 {
    background-color: transparent;
    display: inline-block;
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
}
ul.menu2 > li {
    height: 60px;
}
ul.menu2 > li > a {
    line-height: 60px;
    opacity: 1;
}

#select-result{
    color: #FFFFFF;
}
/*
ul.menu2 > li {
    display: block;
    float: left;
    position: relative;
    height: 80px;
}
ul.menu2 > li > a {
    background-color: transparent;
    display: block;
    line-height: 80px;
    opacity: 1;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    width: 160px;
}*/
#scrollermenu.container-outer { overflow: hidden;}
#scrollermenu .container-inner { width: 10000px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
.product-slider {
    overflow-x: hidden;
    position: relative;
    max-width: 100%;
    cursor: move;
}
.product-slider .item{
    float: left;
}
.product-slider .container-outer { overflow: hidden;}
.product-slider .container-inner { width: 10000px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.bg-blur30:before {
    background-color: #071e32;
    content: "";
    display: block;
    height: 160px;
    width: 100%;
    opacity: .3;
    z-index: -1;
    position: absolute;
    left:0;
}

.bg-blur80:before {
    background-color: #071e32;
    content: "";
    display: block;
    height: 100%;
    opacity: 0.83;
    position: fixed;
    width: 100%;
    margin-left: -15px;
    z-index: 1;
}



/*      TIMELINE STYLE       */
.timeline {
    list-style: none;
    /*padding: 20px 0 20px;*/
    padding: 0;
    position: relative;
    overflow: hidden;
    top:0;
}
.timeline:before {
    top: 0px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    position: relative;
    border: 1px solid transparent;
}
.timeline > li {
    float: left;
}
.timeline > li.timeline-inverted {
    float: right;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    padding:0;
    margin-bottom: 10px;
    border: 1px solid #d4d4d4;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background: #ffffff;
    min-height: 160px;
    width: 98%;
}
.timeline > li > .timeline-panel:hover {
    background-color: #f5f8fa;
    cursor: pointer;
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    display: none;
    width: 0;
    height: 0;
}
.timeline > li > .timeline-badge.ver_a {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    top: 16px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-badge.ver_a {
    position: absolute;
    margin-left: -28px;
    left:0;
}
.timeline > li > .timeline-badge.ver_a {
    position: absolute;
    margin-right: -41px;
    right:17px;
}

.timeline > li > .timeline-badge.ver_b {
    background-color: #999999;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: #fff;
    font-size: 0.8em;
    height: 30px;
    line-height: 30px;
    text-align: center;
    top: 28px;
    width: 30px;
    z-index: 100;
}
.timeline > li > .timeline-badge.ver_b {
    margin-right: -41px;
    position: absolute;
    right: 25px;
}
.timeline > li.timeline-inverted > .timeline-badge.ver_b {
    left: 0;
    margin-left: -16px;
    position: absolute;
}



.timeline > li.timeline-inverted > .timeline-panel {
    /*margin-left: 10%;*/
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li.timeline-inverted:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li > .timeline-panel.offset:before {
    top:107px;
}

.timeline > li > .timeline-panel.offset:after {
    top:108px;
}
.timeline > li > .timeline-badge.offset {
    top: 100px;
}

.timeline-badge.primary {
    background-color: #428bca !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}





@media (min-width: 768px) and (max-width: 1000px) {
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 60px);
        width: -moz-calc(100% - 60px);
        width: -webkit-calc(100% - 60px);
        /*width:100%;*/
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
/*@media (max-width: 767px) {*/
    .timeline:before {
        background-color: transparent;
        bottom: 0;
        content: " ";
        position: absolute;
        top: 0;
        width: 0;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
        /*width: calc(100% - 60px);
        width: -moz-calc(100% - 60px);
        width: -webkit-calc(100% - 60px);*/
        width: 100%;
    }
/*
    ul.timeline > li > .timeline-badge {
        left: 14px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    */
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }

@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
@media (min-width: @screen-lg-min) {  }
